<?xml version='1.0' encoding='utf-8'?>
<widget id="me.phelipot.WhatBrand" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>WhatBrandIsThat</name>
    <description>
        Fint out what brand are looking at.
    </description>
    <author email="pascal.phelipot@gmail.com" href="https://phelipot.me">
        Pascal P.
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="http://*/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="Orientation" value="portrait" />
    <engine name="browser" spec="^6.0.0" />
    <engine name="android" spec="^8.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-camera-preview" spec="git+https://github.com/cordova-plugin-camera-preview/cordova-plugin-camera-preview.git">
        <variable name="ANDROID_SUPPORT_LIBRARY_VERSION" value="26+" />
    </plugin>
</widget>
